/* =================================
  WEB FONTS
==================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Signika');

/* =================================
  BASE COLORS
==================================== */

$primary-green: #5FCF80;
$primary-blue: #49C4DB;
$primary-red: #F44336;
$primary-dark: #3E474F;
$text-color-white: #FFF;
$text-color: #3E474F;
$background: #EDEFF0;

/* =================================
  MIXINS
==================================== */


/* =================================
  LAYOUT & PAGE STYLES
==================================== */

body {
  background: $background;
  color: $primary-dark;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Signika', sans-serif;
  letter-spacing: 2px;
}

a {
  color: darken($primary-blue, 20%);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  &:hover {
    color: darken($primary-green, 30%);
  }
}

img {
  height: auto;
  width: auto;
}

/* Header -------- */

header {
  background-color: $primary-blue;
  color: $text-color;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;

  .header-wrap {
    margin: 0 auto;
    max-width: 1000px;
    width: 95%;

    .main-nav-icon {
      display: flex;
      flex-wrap: wrap;
      float: left !important;
      list-style-type: none;

      li a {
        color: $text-color-white;

        &:hover {
          color: $text-color !important;

          path {
            fill: $text-color;
          }
        }

        #onki-icon {
          cursor: pointer;
          float: left;
          height: 50px;
          margin-top: -10px;
          width: 50px;

          path {
            -webkit-transition: 0.2s;
            transition: 0.2s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
          }
        }

        #icon-text {
          padding-left: 10px;
        }
      }
    }

    .main-nav {
      display: flex;
      flex-wrap: wrap;
      float: right;
      list-style-type: none;

      ul {
        margin: 0;
        padding: 0;
      }

      i {
        cursor: pointer;
      }

      a {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        color: $text-color-white;
        display: block;
        font-size: 18px;
        list-style-type: none;
        padding: 1em 1em 0 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s;

        &:hover {
          color: $text-color;
        }

        &:active {
          color: $text-color;
        }

        .active {
          color: $text-color;
        }


      }

      svg {
        cursor: pointer;
        fill: $text-color-white !important;
      }

    }

  }

  .drawer {
    a {
      color: $primary-dark;
      text-decoration: none !important;
    }
  }

}

/* Body -------- */

.container {
  background: $background;
  // box-shadow: 0 3px rgba(0,0,0, .1);
  min-height: 580px;
  overflow: hidden;
}

.main-content {
  margin: 0 auto 2em;
  max-width: 1300px;
  padding: 2em 0;
  width: 95%;

  > div > div {
    margin-top: 30px;
    padding: 0 20px;
  }

  .page-title-container {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }

  section {
    height: 600px;

    h1 {
      font-size: 30px;
    }
  }

  .card-actions-wrap {

    padding: 0 5%;

    .section-box {
      box-sizing: border-box;
      height: auto;
      min-height: 200px;
      padding: 20px;
      text-align: center;

      img {
        margin: 20px auto 0;
        max-height: 300px;
        max-width: 100%;
      }
    }

    .section-box-split {
      margin-bottom: 20px;
      text-align: left;
      width: 46%;
    }

  }

}

.fp-video-wrap {
  width: auto;
  text-align: center;
}

/* Forms -------- */
.form-style {
  margin: 0 auto;
  max-width: 500px;
  width: 80%;
}

.form-style.create-task {
  max-width: 700px;
}

.feedback-label {
  font-size: 18px;
}

.icon-text {
  background-color: #FFF;
  display: inline-block;
  font-size: 2em;
  width: 26px;
}

.feedback-label {
  margin-right: 10px;
}

.feedback-form {
  label {
    font-size: 18px;
    font-weight: bold;
  }
}

.create-resource {
  padding-bottom: 20px;
}

.callout {
  border: 1px solid #eee;
  border-left-color: darken($primary-blue, 20%);
  border-left-width: 5px;
  border-radius: 3px;
  color: darken($primary-blue, 20%);
  margin: 10px auto;
  padding: 20px;
  width: 60%;

  h4 {
    margin-bottom: 5px;
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }
}

.callout+.callout {
  margin-top: -5px;
}

/* Task Container -------- */
.task-view {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}

.resource-content-view {
  -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
  box-sizing: border-box !important;         /* Opera/IE 8+ */
  margin-bottom: 10px;
  min-height: 150px;
  padding: 0 30px;
  width: 100%;

  img {
    max-height: 250px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    margin: 30px 0 5px;
  }
}

.external-resource-wrap {
  h3,
  p {
    margin-left: 14px !important;
  }
}

.feedback-btn {
  color: $primary-blue !important;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: darken($primary-blue, 20%) !important;
  }
}

.teachersnotes {
  padding: 20px;
  width: 100%;
}

.task-navigation {
  height: 50px;
  margin-top: 20px;
  text-align: center;

  a {
    color: $primary-dark;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;

    span {
      margin: 0 5px;
    }

    svg {
      margin-top: -2px;
      vertical-align: text-top;
    }

    &:hover {
      span {
        color: darken($primary-blue, 20%) !important;
      }

      svg {
        fill: darken($primary-blue, 20%) !important;
      }
    }
  }
}

/* Footer -------- */
footer {
  background-color: $primary-blue;
  box-sizing: border-box;
  color: $text-color;
  font-size: 9px;
  height: 70px;
  padding: 10px;
  text-align: center;
  width: 100%;

  .footer-box {
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    width: 100%;

    .footer-icon-wrap {
      display: inline-block;
      height: 30px;
      text-align: center;
      width: 100%;

      > h2 {
        height: 1.5em;
        margin: 10px 5px;

        svg {
          margin-top: -5px;
          vertical-align: text-top;

          path {
            fill: $primary-dark;
          }
        }

        .footer-icon-text {
          margin-left: 10px;
        }
      }
    }
  }

  .footer-box-split {
    width: 30%;
  }

  #onki-icon {
    height: 30px;
    width: 30px;

    path {
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }
  }

}

/* =================================
  TEMPLATE STYLES
==================================== */
.place-mid {
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.clearfix {
  clear: both;
  overflow: auto;
  zoom: 1;
}

.img-rounded {
  border-radius: 10px;
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.error-msg {
  color: $primary-red;
}

.italic {
  font-style: italic;
}
/* =================================
  MEDIA QUERIES
==================================== */
